html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

#login form fieldset span em.error{
    display: block;
    color: #e8dede;
    font-style: italic;
    margin-left: 48px;
}

#botao-cadastrar{
 color: #fff;
 background: #096b09;
}

 img{
  width: 215px;
  height: 100px;
  align: center;
} 
.footer {
    position: fixed;
    bottom: 0;
    height: 70px;
}
