
.bg-light {
    background-color:#0a3f0a !important;

}
.sidebar a {
    height: 36px;
    padding-left: 18px;
    border-left: 2px solid #2b2b2d;
    color: #fff;
    font-size: 14px;
    line-height: 35px;
    overflow: hidden;
}

.sidebar{
    background-color:  #0b2e13 ;
    width: 190px !important;
}


.sidebar a:hover {
    color: #008600;
    text-decoration: none;
}
.menu ul  {
  list-style: none;
}
.menu li {

  float: left;
}

.menu li a{
  display: block;
  padding: 10px 0;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #000;
  margin: 10px 10px 10px 0;
  width:100px;

}
.menu-responsivo{
  display: none;
}
.grow:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.logo{
    width: 110px;
    height: 60px;
    background-image: url(../imagens/logo.jpg);
    background-size: cover;
}
#cadastrar, #enviar {
    border-radius: 5px;
  border: 1px solid #333;
  background-color: #129e36;
  color: #fff;
  height: 30px;
  width: 150px;
}
#cancelar {
    border-radius: 5px;
  border: 1px solid #333;
  background-color: #9e2612;
  color: #fff;
  height: 30px;
  width: 150px;
}
input {
	 border: 1px solid #555;
}
#grupoNome, #esqueceuLogin {
	width: 40%;
    border: 1px solid #555;
}

.perfil {
    background-color:  #0b2e13 ;
    width: 170px !important;
}


.profile-userpic img{
  width: 60%;
}

.perfil-imagem,.perfil-titulo{
  margin-left: 13px;
}

.perfil-nome, a{
  color: #e5ebf3;
}

.perfil-configuracao a:hover {
    color: #008600;
    text-decoration: none;
}
.col-md-4{
  flex: 0 0 0;
}
