/* #region Definições de tema Bootstrap */
$green: #017240;
$light-green: #008773;
$dark-blue: #1c3341;
$yellow: #fcbd26;
$red: #ed262d;

$primary:       $green;
$secondary:     #f0f0f0; 
$tertiary:       $light-green;

@import "../bootstrap/scss/bootstrap"; 
/* #endregion Fim definições de tema Bootstrap*/

html, body, #navbar-fixed{
    height: 100%!important;
    min-height: 100vh;  
}

/* #region MENU PRINCIPAL */
    .sticky-top{
        position: sticky!important;
        position: -webkit-stiky!important;
        top: 0px;
    }

    #navbar-fixed{
        box-shadow: 0 0 6px 3px rgba(0,0,0,.3);
        background: linear-gradient(to right, darken($primary, 5)  0px, darken($primary, 5) 40px, #017240 40px);
        max-height: 100vh;
        overflow: auto;
        transition: all .3s linear;
        // border-left: 40px solid darken($primary, 5);

        .navbar-toggler{
            width: 30px;
            height: 30px;
            padding: 0%!important;  
            border: 0px;
            top: 15px;
            position: absolute;
        }

        ul{

            li{
                &:not(:last-child){
                    border-bottom: 1px solid lighten($primary, 3);
                }
            
                &:not(:first-child){
                    border-top: 1px solid darken($primary, 3);
                }

                i{
                    width: 30px;
                    text-align: center;
                    margin-right: 10px;
                }
            }
        }


        #imagem-perfil-menu{
            max-width: calc(100% - 40px);

            img{
                border: 7px solid rgba($black, .05);
                box-shadow: 0px 3px 6px rgba(0,0,0,.15);
            }
        }

        .footer-navbar{
            max-width: calc(100% - 40px);
        }
    }

    .collapsed-navbar{
        max-width: 50px; 
        overflow-x: hidden!important;
        align-items: flex-start!important;

        .navbar-toggler{
            position: relative!important;
            top: 7px!important;
        }

        #imagem-perfil-menu,
        .footer-navbar{
            display: none!important;
        }
    }

/* #endregion FIM MENU PRINCIPAL*/

.box-header{
    h2{
        background: $white; 
    }
}

.no-padding{
    padding-left: 0%!important;
    padding-right: 0%!important;
}


